.blog-details-hero {
  margin-top: 80px;
  background-color: #f6f3ed;
  padding: 0 10%;
}

.blog-details-hero > h1 {
  padding-top: 60px;
  font-size: 48px;
  font-weight: 300;
}

.blog-details-hero > h2 {
  font-size: 20px;
  margin-top: 8px;
  color: #5f5e5a;
}

.blog-details-hero-author {
  display: flex;
  width: 500px;
  gap: 24px;
  margin-top: 36px;
}

.blog-details-hero-author-circle {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  font-weight: 300;
  text-align: center;
  align-content: center;
  font-size: 28px;
  color: #f6f3ed;
  background-image: linear-gradient(
    135deg,
    #0e3b3b 0%,
    #1d6f63 60%,
    #2bc4ac 100%
  );
}

.blog-details-hero-author-desc {
  height: 68px;
  align-content: center;
}

.blog-details-hero-author-name {
  font-weight: 700;
  font-size: 24px;
}

.blog-details-hero-author-date {
  color: #5f5e5a;
  font-weight: 400;
}

.blog-details-hero-img {
  width: 100%;
  margin-top: 36px;
  margin-bottom: 36px;
}

.blog-details-hero-img > img {
  width: 100%;
  justify-self: center;
  border-radius: 38px;
}

.blog-details-hero-content {
  color: #5f5e5a;
  font-size: 20px;
  padding-bottom: 60px;
  line-height: 3cap;
}

.blog-details-hero-content > p:first-child::first-letter {
  font-size: 80px;
  font-weight: 500;
  float: left;
  line-height: 1;
  padding: 4px 10px 0 0;
  color: #0e3b3b;
}
